BUILD="linux-x86_64"            # linux-x86_64 for 64 bit, linux-x86 for 32 bit. linux-aarch64 for ARMv8, linux-armv7hf_neon for ARMv7
DISTRO="debian"                 # debian for .deb distros, redhat for rpm distros
PLEX_TOKEN=""                   # Insert Plex pass token here
